body {
  background: linear-gradient(130deg, #2273c0, #cc5858);
  overflow: scroll;
  height: 100vh;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 250px auto;
  background: linear-gradient(130deg, #105a9f, #742626); /* Dark gradient */
  border-radius: 20px;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color:rgb(255, 255, 255);
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  color: #003366;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #4970c2;
}
