.login-container {
  max-width: 400px;
  margin: 250px auto;
  padding: 2rem;
  background: linear-gradient(130deg, #105a9f, #742626); /* Dark gradient */
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  color: white;
}
